In [23]:
from __future__ import print_function

import argparse
import json
import pprint
import requests
import sys
import urllib

In [24]:
try:
    # For Python 3.0 and later
    from urllib.error import HTTPError
    from urllib.parse import quote
    from urllib.parse import urlencode
except ImportError:
    # Fall back to Python 2's urllib2 and urllib
    from urllib2 import HTTPError
    from urllib import quote
    from urllib import urlencode

In [1]:
import pandas as pd
import time

In [2]:
df = pd.read_csv('./../data/nyc_bar_crawl_sample.csv')

In [26]:
df.head()

,bar_id,bar_pub_name,borough,building,address,zip,phone,latitude,longitude,score,grade,grade_dt
0,50041799,310 BOWERY BAR,Manhattan,310,BOWERY,10012.0,2124771166,40.724796,-73.992373,7,A,2018-05-16
1,41331076,55 BAR,Manhattan,55,CHRISTOPHER STREET,10014.0,2129299883,40.733712,-74.002183,17,B,2017-01-17
2,41420397,69 BAR LOUNGE,Queens,3821,69 STREET,11377.0,3475437183,40.746886,-73.896421,8,A,2019-10-16
3,50067022,A PASTA BAR,Manhattan,330,WEST BROADWAY,10013.0,6463015372,40.722107,-74.004008,5,A,2019-10-02
4,41509909,BILL'S BAR & BURGER ROCKEFELLER CENTER,Manhattan,45,ROCKEFELLER CENTER,10111.0,2127058510,40.759261,-73.977844,7,A,2019-04-29

In [31]:
df['bar_id'][2]

41420397

In [11]:
# df[df.borough=='Manhattan'].head(25)
# df[df['borough']=='Manhattan'].head(25)

,bar_id,bar_pub_name,borough,building,address,zip,phone,latitude,longitude,score,grade,grade_dt
0,50041799,310 BOWERY BAR,Manhattan,310,BOWERY,10012.0,2124771166,40.724796,-73.992373,7,A,2018-05-16
1,41331076,55 BAR,Manhattan,55,CHRISTOPHER STREET,10014.0,2129299883,40.733712,-74.002183,17,B,2017-01-17
3,50067022,A PASTA BAR,Manhattan,330,WEST BROADWAY,10013.0,6463015372,40.722107,-74.004008,5,A,2019-10-02
4,41509909,BILL'S BAR & BURGER ROCKEFELLER CENTER,Manhattan,45,ROCKEFELLER CENTER,10111.0,2127058510,40.759261,-73.977844,7,A,2019-04-29
6,40368338,BRADY'S BAR,Manhattan,1583,2 AVENUE,10028.0,2128616070,40.775434,-73.953532,13,A,2017-06-07
11,50057195,CAT SPORTS PUB,Manhattan,96,GREENWICH STREET,10006.0,9173272832,40.708135,-74.013526,13,A,2019-10-15
12,41667090,COOL FRESH JUICE BAR,Manhattan,2661,BROADWAY,10025.0,6465065554,40.797979,-73.969361,2,A,2021-08-10
13,50111156,CORK WINE BAR,Manhattan,69,THOMPSON STREET,10012.0,6466698169,40.724352,-74.003074,11,A,2022-02-14
15,50056941,CRUDO BAR,Manhattan,306,WEST 13 STREET,10014.0,6468961404,40.739218,-74.003439,10,A,2020-02-12
20,50057588,ELLA KITCHEN AND BAR,Manhattan,249,COLUMBUS AVENUE,10023.0,2125799929,40.777058,-73.979033,13,A,2019-09-04
22,50055374,FLORA BAR,Manhattan,945,MADISON AVENUE,10021.0,6317038780,40.773450,-73.964199,23,B,2019-08-06
24,50045112,GARDEN PUB,Manhattan,4,PENN PLZ,10121.0,2124656302,40.750655,-73.991944,0,A,2018-05-29
32,50109949,LANGOS BAR,Manhattan,137,RIVINGTON STREET,10002.0,3474210062,40.719463,-73.986374,12,A,2022-06-07
35,40908961,MACAO RESTAURANT AND BAR,Manhattan,311,CHURCH STREET,10013.0,2124318642,40.719713,-74.004159,3,A,2020-03-03
38,41605861,PIER 25 SNACK BAR,Manhattan,225,WEST STREET,10013.0,9173024616,40.719965,-74.012255,10,A,2019-08-01
39,40801855,PLAYWRIGHT CELTIC PUB,Manhattan,202,WEST 49 STREET,10019.0,2122629263,40.760552,-73.983991,9,A,2019-07-24
40,41574776,PRELUDE CAFE & BAR (ALLICE TULLY HALL),Manhattan,132,WEST 65 STREET,10023.0,2126714200,40.773474,-73.983291,5,A,2019-09-27
41,50067972,SAGRA PIZZA BAR,Manhattan,62,CARMINE STREET,10014.0,6466308331,40.729767,-74.004211,12,A,2019-07-08
43,50017919,SMITH'S HELL'S KITCHEN BAR & RESTAURANT,Manhattan,701,8 AVENUE,10036.0,2122472161,40.758625,-73.988785,12,A,2019-10-23
45,50001225,THE FLYING COCK PUB,Manhattan,497,3 AVENUE,10016.0,2126896900,40.745380,-73.978354,13,A,2017-06-01
47,41697314,THIRD AVENUE ALE HOUSE,Manhattan,1644,3 AVENUE,10128.0,6465599131,40.782725,-73.951140,17,B,2018-07-18
52,41183237,809 GRILL & BAR RESTAURANT,Manhattan,112,DYCKMAN STREET,10040.0,2123043800,40.862012,-73.925023,10,A,2019-04-25
53,41542713,ACCENT RESTAURANT & BAR,Manhattan,429,3 AVENUE,10016.0,9177508470,40.743103,-73.980018,13,A,2019-10-02
54,41391353,AMSTERDAM ALE HOUSE,Manhattan,340,AMSTERDAM AVENUE,10024.0,2123627260,40.781241,-73.979721,15,B,2019-05-06
55,50076881,AT NINE RESTAURANT & BAR,Manhattan,592,9 AVENUE,10036.0,2122654499,40.758782,-73.992355,22,B,2018-09-21

In [17]:
# Yelp Fusion API

API_KEY= '4nRS21VgE79PQdVbjIz8wYPndzvh94hFffLad8WesROrkUBAqMftFyEUrcHlD1jLLBb6aggJD6NAEZcFOLjTn2hi3DGTM-jpiSisM8Aq4REo92Jwk6znbI-qKvAhY3Yx' 

# API constants, you shouldn't have to change these.
API_HOST = 'https://api.yelp.com'
SEARCH_PATH = '/v3/businesses/search'
BUSINESS_PATH = '/v3/businesses/'  # Business ID will come after slash.


# Defaults for our simple example.
DEFAULT_TERM = 'dinner'
DEFAULT_LOCATION = 'San Francisco, CA'
SEARCH_LIMIT = 3

In [18]:

def request(host, path, api_key, url_params=None):
    """Given your API_KEY, send a GET request to the API.
    Args:
        host (str): The domain host of the API.
        path (str): The path of the API after the domain.
        API_KEY (str): Your API Key.
        url_params (dict): An optional set of query parameters in the request.
    Returns:
        dict: The JSON response from the request.
    Raises:
        HTTPError: An error occurs from the HTTP request.
    """
    url_params = url_params or {}
    url = '{0}{1}'.format(host, quote(path.encode('utf8')))
    headers = {
        'Authorization': 'Bearer %s' % api_key,
    }

    print(u'Querying {0} ...'.format(url))

    response = requests.request('GET', url, headers=headers, params=url_params)

    return response.json()


def search(api_key, term, location):
    """Query the Search API by a search term and location.
    Args:
        term (str): The search term passed to the API.
        location (str): The search location passed to the API.
    Returns:
        dict: The JSON response from the request.
    """

    url_params = {
        'term': term.replace(' ', '+'),
        'location': location.replace(' ', '+'),
        'limit': SEARCH_LIMIT
    }
    return request(API_HOST, SEARCH_PATH, api_key, url_params=url_params)


def get_business(api_key, business_id):
    """Query the Business API by a business ID.
    Args:
        business_id (str): The ID of the business to query.
    Returns:
        dict: The JSON response from the request.
    """
    business_path = BUSINESS_PATH + business_id

    return request(API_HOST, business_path, api_key)


def query_api(term, location):
    """Queries the API by the input values from the user.
    Args:
        term (str): The search term to query.
        location (str): The location of the business to query.
    """
    response = search(API_KEY, term, location)

    businesses = response.get('businesses')

    if not businesses:
        print(u'No businesses for {0} in {1} found.'.format(term, location))
        return

    business_id = businesses[0]['id']

#     print(u'{0} businesses found, querying business info ' \
#         'for the top result "{1}" ...'.format(
#             len(businesses), business_id))
    response = get_business(API_KEY, business_id)

    print(u'Result for business "{0}" found:'.format(business_id))
#     print(response)
#     pprint.pprint(response, indent=2)
    
    print(type(response))
    
    return response

In [25]:
def main():
    parser = argparse.ArgumentParser()

#     parser.add_argument('-q', '--term', dest='term', default=DEFAULT_TERM,
#                         type=str, help='Search term (default: %(default)s)')
#     parser.add_argument('-l', '--location', dest='location',
#                         default=DEFAULT_LOCATION, type=str,
#                         help='Search location (default: %(default)s)')
#     parser.add_argument('-lo', '--longitude', dest='longitude',
#                         type=str, help='Search longitude')
#     parser.add_argument('-la', '--latitude', dest='latitude',
#                         type=str, help='Search latitude')

#     input_values = parser.parse_args()

    location = 'New York'

    for i in range(len(df)):
        print(df['bar_pub_name'][i])
        term = df['bar_pub_name'][i]
    
        try:
            response = query_api(term, location)
    #         query_api(input_values.term, input_values.location)
        except HTTPError as error:
            sys.exit(
                'Encountered HTTP error {0} on {1}:\n {2}\nAbort program.'.format(
                    error.code,
                    error.url,
                    error.read(),
                )
            )
            
        for res in response:
#             pprint.pprint(response)
            if res == 'hours':
#                     print(response['hours'])
                    
                    
                    hours = response['hours']
                    print("hours", hours)
                    for h in hours:
                        i = 0
                        for io in h:
                            if io == 'is_open_now':
                                print(h[0])
                            i = i+1
                                
        
#         bdf = pd.json_normalize(response.json()['name'])
#         print(bdf.head())

        
#         parsed = json.loads(response.text)
 
#         hours = parsed["hours"]
    
#         print(hours)

#         for review in reviews:
#             print("User:", review["user"]["name"], "Rating:", review["rating"], "Review:", review["text"], "\n")

        
#     print(df.head(1))

In [21]:
if __name__ == '__main__':
    main()

usage: ipykernel_launcher.py [-h] [-q TERM] [-l LOCATION]
ipykernel_launcher.py: error: unrecognized arguments: -f /Users/sthakur/Library/Jupyter/runtime/kernel-595f6e74-e31a-4808-9142-b2e0571ff620.json

SystemExit: 2